  
  
  <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="../{{product.image}}" class="card-img product-image" alt="{{product.name}}" style=" max-width: 100%; height: auto;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">{{product.description}}</p>
                        <p class="card-text"><strong>Cost:</strong> {{product.cost}} VND</p>
                        <a href="/products" class="btn btn-secondary">Back to Products</a>
                    </div>
                </div>
            </div>
        </div>
    </div>