<h1 class="text-center my-4">Product List</h1>
<div class="container">
    <div class="row">
        {{#each products}}
        {{!-- <pre>{{json this}}</pre> --}}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="../{{this.image}}" class="card-img-top" alt="{{this.name}}"  width="20" height="200">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <p class="card-text"><strong>Cost:</strong>{{this.cost}} VND</p>
                    <a href="/products/{{this.slug}}" class="btn btn-primary">Chi tiết</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<script>
   
</script>